.toggle-button {
    display: flex;
    flex: r;
    flex-direction: column;
    float: right;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    padding: 0;
    margin-top: 14px;
    margin-right: 12px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 3px;
    background-color: white;
}